<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <base th:href="${_static.base?:'..'}" href="">
  <meta charset="UTF-8"/>
  <title>Brutto/Netto-Bezüge</title>
  <link th:href="${_static.css}" href="css/brutto-netto-bezuege-a4.css" rel="stylesheet"/>
</head>
<body>

<div class="seite">

  <div class="logo">
    <img src="images/datev.png"/>
  </div>

  <div class="kopfzeile">
    <span>Abrechnung der Brutto/Netto-Bezüge</span>
    <span class="important">für</span> <span class="important"
                                             th:text="${ergebnisdatenMitarbeiter != null ? ergebnisdatenMitarbeiter['abrechnungsmonat'] : 'MONAT-UNBEKANNT'}">August 2019</span>
  </div>

  <div th:unless="${stammdatenMitarbeiter == null || stammdatenMitarbeiter['person'] == null}" class="adresse">
    <div class="zeile" th:unless="${stammdatenMitarbeiter.person['geschlecht'] == null}">
      <span th:text="${stammdatenMitarbeiter.person.geschlecht == 'MAENNLICH' ? 'Herr' : 'Frau'}">Herr</span>
    </div>
    <div class="zeile">
      <span th:text="${stammdatenMitarbeiter.person.vorname}">Erwin</span>
      <span th:text="${stammdatenMitarbeiter.person.nachname}">Mustermann</span>
    </div>
    <div th:unless="${stammdatenMitarbeiter.person['strassePostfach'] == null && stammdatenMitarbeiter.person['hausnummer'] == null}" class="zeile">
      <span th:text="${stammdatenMitarbeiter.person['strassePostfach']?:''} + ' ' + ${stammdatenMitarbeiter.person['hausnummer']}">Am Weg 12</span>
    </div>
    <div th:unless="${stammdatenMitarbeiter.person['plz'] == null && stammdatenMitarbeiter.person['wohnort'] == null}" class="zeile">
      <span th:text="${stammdatenMitarbeiter.person['plz']?:''}">91052</span>
      <span th:text="${stammdatenMitarbeiter.person['wohnort']?:''}">Erlangen</span>
    </div>
  </div>

  <div th:if="${stammdatenMitarbeiter == null || stammdatenMitarbeiter['person'] == null}" class="adresse">
    <div class="error">Fehler: Keine Stammdaten vorhanden!</div>
  </div>

  <div class="bezuege"
       th:unless="${ergebnisdatenMitarbeiter == null || ergebnisdatenMitarbeiter['bruttoBezuege'] == null || ergebnisdatenMitarbeiter['bruttoBezuege'].size() == 0}">
    <table class="bezuege">
      <tbody>
      <tr>
        <th class="lohnart">Lohnart</th>
        <th class="bezeichnung">Bezeichnung</th>
        <th class="betrag">Betrag</th>
      </tr>
      <tr th:each="bezug : ${ergebnisdatenMitarbeiter.bruttoBezuege}">
        <td class="lohnart" th:text="${bezug['bezugart']}">002</td>
        <td class="bezeichnung" th:text="${bezug['bezeichnung'] != null ? bezug['bezeichnung'] : bezug['bezugart']}">Gehalt</td>
        <td class="betrag" th:text="${bezug['betrag']}">3.455.00</td>
      </tr>
      <tr>
        <td class="lohnart"></td>
        <td class="bezeichnung"></td>
        <td class="betrag gesamt-brutto" th:text="${ergebnisdatenMitarbeiter['bezuegeGesamtbrutto']}">4.595.00</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="bezuege"
       th:if="${ergebnisdatenMitarbeiter == null || ergebnisdatenMitarbeiter['bruttoBezuege'] == null || ergebnisdatenMitarbeiter['bruttoBezuege'].size() == 0}">
    <div class="error">Fehler: Keine Bezüge vorhanden!</div>
  </div>

  <div class="fusszeile">Seite 1 von 1</div>

</div>

</body>
</html>
