<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <base href="../../static/">
  <meta charset="UTF-8" />
  <title>Lohnsteueranmeldung</title>
</head>

<body>

  <style>
    .spacer {
      border-bottom: 1px solid #d3d3d3;
    }

    .font-weight-semi-bold {
      font-weight: 600;
    }

    .background-light-grey {
      background-color: #e4e3e2;
    }
  </style>
  <div class="row">
    <div class="col-sm-6">
      <div class="font-weight-semi-bold mb-1x" th:text="${mandant.name}">Haarscharf GmbH</div>
      <div th:text="${mandant.strasse}">Von Lockinger Straße</div>
      <div th:text="${mandant.ort}">65432 Glattbach</div>
    </div>
    <div class="col-sm-6 text-right">
      <div th:text="${'Steuer-Nr. ' + mandant.steuerid}">Steuer-Nr. 123/4567</div>
    </div>
  </div>
  <div class="spacer pt-2x"></div>
  <div class="row mt-2x">
    <div class="col-sm-6">
      <div class="font-weight-semi-bold mb-1x" th:text="${amt.name}">Zentralfinanzamt Glattbach</div>
      <div class="mb-hx" th:text="${amt.strasse}">Postfach 12345</div>
      <div th:text="${amt.ort}">65432 Glattbach</div>
    </div>
    <div class="col-sm-6 text-right">
      <div th:text="${beschreibung}">Monatsabschluss 2022, 14:38</div>
      <div class="mt-1x" th:text="${wiederholung != null ? wiederholung.toString() + '. Wiederholung' : ''}">1. Wiederholung</div>
    </div>
  </div>
  <div class="row mt-3x">
    <div class="col-sm-4">
      <div class="mb-hx">Zahl der Arbeitnehmer</div>
      <div>Davon mit BAV-Förderbetrag</div>
    </div>
    <div class="col-sm-7">
      <div class="mb-hx" th:text="${arbeitnehmerZahl}">6</div>
      <div th:text="${bavfoerderbetrag}">0</div>
    </div>
  </div>
  <div class="row mt-4x pb-1x pt-1x background-light-grey">
    <div class="col-sm-2">Kennz.</div>
    <div class="col-sm-7">Steuerabzüge</div>
    <div class="col-sm-3 text-right">Betrag</div>
  </div>
  <div class="row pt-1x pb-1x spacer" th:each="rechnungselement : ${rechnungselemente}">
    <div class="col-sm-2" th:text="${rechnungselement['kennzeichen']}">42</div>
    <div class="col-sm-7" th:text="${rechnungselement['abzug']}">Summe der einzubehaltenden Lohnsteuer</div>
    <div class="col-sm-3 text-right" th:text="${rechnungselement['betrag']}">2165,49 €</div>
  </div>
  <div class="row mt-2x">
    <div class="col-sm-12 text-right">
      <div>Gesamtbetrag</div>
      <div class="font-weight-semi-bold mt-1x" th:text="${gesamtbetrag}">2.457,79 €</div>
    </div>
  </div>

<!--
<div class="row mt-2x">
  <div class="col-sm-6">
    <table>
      <thead class="background-light-grey">
        <td>Kennz.</td>
        <td>Steuerabzüge</td>
        <td>Betrag</td>
      </thead>
      <tbody>
        <tr th:each="rechnungselement : ${rechnungselemente}">
          <td th:text="${rechnungselement['kennzeichen']}">42</td>
          <td th:text="${rechnungselement['abzug']}">Summe der einzubehaltenden Lohnsteuer</td>
          <td th:text="${rechnungselement['betrag']}">2165,49 €</td>
        </tr> 
      </tbody>
    </table>
  </div>
</div>
 -->

</body>

</html>